
{% extends "home/home.html" %}


{% block css %}
<style>
    .top-block{
        height:80px;
        width:;
        border:1px solid;
        text-align:center;
        padding-top:30px;
        color:gray;
        background-color: #f0f8ff ;
    
    }
    .Order-table{
        
        width:100%;
       font-style:bold;
        
        color: gray ;
        }

    .Order-table a{
        text-decoration:none;
        color:black;
        opacity:0.6;
        font-style:bold;
    }
    .row-h{border:solid;
        
    }
  
    
   
    
     
       
        
   
  
</style>
{% endblock %}

{% block nav_down %}




{%endblock%}




{% block body  %}








<div class="top-block"   >
    <h2>My Orders</h2>
    
</div>









<table  class="Order-table"  cellpadding="5"cellcolor="gray"cellspacing="2"   >
    <tr class="row-h">
        <th scope="col">Product Name</th>
        
        <th scope="col">Post</th>

        </tr>

{% for item in product_ordered_by_user %}        

    
    
    <tr>
        <td><div >
    <a href="/product_manager/Order_get  ">{{item.Product_Name}}</a></div>
            </td>
        
    
            <td><div >
    <a href="/product_manager/Order_get  ">{{item.Post_Date}}</a></div>
            </td>
        
          
           
        

    </tr>
     
    
    
{%  endfor %}
    
    
</table>    
     
    
{%  endblock %}
