{% extends "home/home.html" %}


{% block css %}
<style>
   @media (min-width:35rem) {
    .form{
        
        padding:20px 16px;
        
       
        border-radius:5px;
       
        box-shadow:0px 15px 20px 0px;
      
        height:50rem;
        margin: 0rem 0 0 0;
       

    }
        
}   
    @media (max-width:35rem) {
        .form{
        
        padding:20px 16px;
        
       
        border-radius:5px;
            margin:20px;
       
        box-shadow:0px 15px 20px 0px;
      
        height:50rem;
      

    }
    }
    .form-input{
        margin:10px 0 0 15px;
        border-radius:5px;
        border:0.2px solid;
        box-shadow:0 0px 0px 0;
        height:40px;
        width:280px

    }
   
      

    
    .form-text{
       margin:0 0 3rem 0;
        border-radius:2px;
        font-size:25px;
        margin-left:20%;
    
    }
    .btn-primary{
        border-radius:4px;
        height:40px;
        width:100px;
       
        margin-top:30px;

    }
   .discription{
       margin:10px 0 0 15px;
        border-radius:5px;
        border:0.2px solid;
       width:20rem;
        
    }




</style>
{% endblock  %}

   
{% block body %}


<form class="form" method="POST" >
    {% csrf_token %} 
    
    
    <h2 class ="form-text">Send Requirement</h2>
    {{form.as_p}}
   
    
    
    <input type="submit" value="Submit"  class="btn-primary">
   
 
    
    
    
</form>
{% endblock %}
   