@media(max-width:42rem) {
    

    .profile-img{
        width:auto;
        border-radius:0px ;
        -webkit-border-radius:0px ;
        -moz-border-radius:0px ;
        -ms-border-radius:0px ;
        -o-border-radius:0px ;
        margin:0rem 0rem 0 0rem    ;
}

}
@media(min-width:42rem) {
    .profile-img{
        width: 40rem;
        border-radius:10px ;
        -webkit-border-radius:10px ;
        -moz-border-radius:10px ;
        -ms-border-radius:10px ;
        -o-border-radius:10px ;
        margin:10rem 0rem 0 0rem    ;
}

}